@page
@model Formu_Listos_ATM.Pages.Campaigns.campaignsMaintenanceModel
@{
}
<div class="card newCardsBorder-dark m-0 p-0">
    <div class="card-header">
        <h1>Campaigns Maintenance</h1>
    </div>
    <form method="post">
        <div class="card-body">
            <div class="mb-3">
                <label asp-for="CampaignsMaintenance.CampannaFullTitle" class="form-label"></label>
                <input asp-for="CampaignsMaintenance.CampannaFullTitle" class="form-control" />
                <span asp-validation-for="CampaignsMaintenance.CampannaFullTitle" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="CampaignsMaintenance.Description" class="form-label"></label>
                <textarea asp-for="CampaignsMaintenance.Description" class="form-control"></textarea>
                <span asp-validation-for="CampaignsMaintenance.Description" class="text-danger"></span>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" asp-for="CampaignsMaintenance.IsActive" class="form-check-input" />
                <label asp-for="CampaignsMaintenance.IsActive" class="form-check-label"></label>
            </div>
            <div class="row">
                <div class="mb-3 col-6">
                    <label asp-for="CampaignsMaintenance.FechaInico" class="form-label"></label>
                    <input asp-for="CampaignsMaintenance.FechaInico" class="form-control" />
                    <span asp-validation-for="CampaignsMaintenance.FechaInico" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="CampaignsMaintenance.FechaFin" class="form-label"></label>
                    <input asp-for="CampaignsMaintenance.FechaFin" class="form-control" />
                    <span asp-validation-for="CampaignsMaintenance.FechaFin" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between">
            
            <a asp-page="CampaignsAdministration" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>

        </div>
    </form>

</div>